PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=mindease
DB_USER=your_database_user
DB_PASSWORD=your_database_password

JWT_SECRET=your_jwt_secret

EMAIL_USER=your_email
EMAIL_PASSWORD=your_email_password

FLASK_AI_URL=http://localhost:5001