absl-py==2.3.0
accelerate==1.13.0
aider-chat==0.86.2
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aistudio-sdk==0.3.8
alembic==1.18.4
allennlp==2.10.1
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.84.0
anyascii==0.3.3
anyio==4.12.1
asgiref==3.11.1
astor==0.8.1
astunparse==1.6.3
async-timeout==4.0.3
attrdict==2.0.1
attrs==25.4.0
babel==2.18.0
backoff==2.2.1
base58==2.1.1
bce-python-sdk==0.9.60
bcrypt==3.2.2
beautifulsoup4==4.14.3
binary==1.0.2
blinker==1.9.0
blis==0.7.11
boto3==1.42.56
botocore==1.42.56
build==1.4.0
cached-path==1.1.6
cachetools==7.0.5
catalogue==2.0.10
certifi==2026.1.4
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
chromadb==1.4.1
click==8.4.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.10.1
commonmark==0.9.1
ConfigArgParse==1.7.1
contourpy==1.3.2
cors==1.0.1
cryptography==45.0.7
cssselect==1.4.0
cssutils==2.11.1
cycler==0.12.1
cymem==2.0.13
Cython==3.2.4
dataclasses-json==0.6.7
dateparser==1.3.0
decorator==5.2.1
deep-translator==1.11.4
defusedxml==0.7.1
diff-match-patch==20241021
dill==0.4.1
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
docker-pycreds==0.4.0
docstring_parser==0.17.0
doctr==1.9.0
durationpy==0.10
easyocr==1.7.2
ecdsa==0.19.1
editdistpy==0.1.6
email-validator==2.1.0
et_xmlfile==2.0.0
exceptiongroup==1.2.2
fairscale==0.4.6
fastapi==0.128.8
fastuuid==0.14.0
filelock==3.20.3
fire==0.7.1
flake8==7.3.0
Flask==3.1.2
flask-babel==4.0.0
flask-cors==6.0.2
flatbuffers==25.2.10
fonttools==4.58.1
frozenlist==1.8.0
fsspec==2026.2.0
future==1.0.0
gast==0.6.0
gevent==26.7.0
gitdb==4.0.12
GitPython==3.1.46
google-api-core==2.29.0
google-auth==2.49.1
google-cloud-core==2.5.0
google-cloud-storage==2.19.0
google-crc32c==1.8.0
google-pasta==0.2.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
greenlet==3.3.1
grep-ast==0.9.0
groq==1.0.0
grpcio==1.72.1
h11==0.16.0
h5py==3.13.0
hf-xet==1.5.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.16.4
humanfriendly==10.0
idna==3.11
ImageIO==2.37.2
imagesize==1.4.1
imgaug==0.4.0
importlib_metadata==7.2.1
importlib_resources==6.5.2
imutils==0.5.4
iniconfig==2.3.0
itsdangerous==2.2.0
jax==0.6.1
jaxlib==0.6.1
Jinja2==3.1.6
jiter==0.13.0
jmespath==1.1.0
joblib==1.5.3
json5==0.13.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keras==3.10.0
kiwisolver==1.4.8
kubernetes==35.0.0
langchain==1.2.9
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.9
langchain-text-splitters==1.1.0
langcodes==3.5.1
langdetect==1.0.9
langgraph==1.0.8
langgraph-checkpoint==4.0.0
langgraph-prebuilt==1.0.7
langgraph-sdk==0.3.4
langsmith==0.6.9
lazy_loader==0.4
libclang==18.1.1
litellm==1.81.10
llvmlite==0.46.0
lmdb==2.1.1
lxml==6.0.2
Mako==1.3.10
Markdown==3.8
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.3
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.21
mixpanel==5.0.0
ml_dtypes==0.5.1
mmh3==5.2.0
modelscope==1.34.0
more-itertools==10.8.0
mpmath==1.3.0
mslex==1.3.0
multidict==6.7.1
murmurhash==1.0.15
mypy_extensions==1.1.0
namex==0.1.0
networkx==3.4.2
ninja==1.13.0
nltk==3.9.4
numba==0.64.0
numpy==1.26.4
oauthlib==3.3.1
ollama==0.6.1
onnx==1.20.1
onnxruntime==1.23.2
openai==2.20.0
openai-whisper==20250625
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
openpyxl==3.1.5
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opt-einsum==3.3.0
optree==0.16.0
orjson==3.11.7
ormsgpack==1.12.2
oslex==0.1.3
overrides==3.0.0
packaging==26.0
paddleocr==2.6.1.3
paddlepaddle==2.6.2
paddlex==3.4.1
pandas==2.3.3
passlib==1.7.4
pathlib_abc==0.5.2
pathspec==1.0.4
pathtools==0.1.2
pathy==0.13.0
pdf2docx==0.5.8
pdf2image==1.17.0
pexpect==4.9.0
pillow==12.1.1
playsound==1.3.0
pluggy==1.6.0
posthog==7.8.6
premailer==3.10.0
preshed==3.0.13
prettytable==3.17.0
promise==2.3
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.1
protobuf==3.20.3
psutil==7.2.2
psycopg==3.3.4
psycopg2-binary==2.9.11
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
PyAudio==0.2.14
pybase64==1.4.3
pyclipper==1.4.0
pycodestyle==2.14.0
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydub==0.25.1
pyflakes==3.4.0
Pygments==2.19.2
PyMuPDF==1.20.2
pypandoc==1.16.2
pyparsing==3.2.3
pypdf==6.15.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pyperclip==1.11.0
PyPika==0.51.1
pyproject_hooks==1.2.0
pyreadline3==3.5.4
PySocks==1.7.1
pytesseract==0.3.13
pytest==9.0.2
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-doctr==0.10.0
python-docx==1.2.0
python-dotenv==1.2.1
python-jose==3.3.0
python-multipart==0.0.6
pytz==2025.2
PyYAML==6.0.3
RapidFuzz==3.14.3
rarfile==4.2
referencing==0.37.0
regex==2026.1.15
requests==2.32.5
requests-file==3.0.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.3.2
rpds-py==0.30.0
rsa==4.9.1
ruamel.yaml==0.19.1
s3transfer==0.16.0
sacremoses==0.1.1
safetensors==0.7.0
scikit-image==0.25.2
scikit-learn==1.3.2
scipy==1.15.3
sentencepiece==0.2.0
sentry-sdk==2.56.0
setproctitle==1.3.7
shapely==2.1.2
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.8.0
six==1.17.0
smart-open==6.4.0
smmap==5.0.2
sniffio==1.3.1
socksio==1.0.0
sounddevice==0.5.5
soundfile==0.13.1
soupsieve==2.8.3
spacy==3.3.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.15.2
SQLAlchemy==2.0.46
srsly==2.5.3
starlette==0.52.1
sympy==1.14.0
symspellpy==6.9.0
tabulate==0.10.0
tenacity==9.1.3
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
thinc==8.0.17
threadpoolctl==3.6.0
tifffile==2025.5.10
tiktoken==0.12.0
tldextract==5.3.1
tokenizers==0.22.2
tomli==2.4.0
toon_format @ git+https://github.com/toon-format/toon-python.git@6b26984a01279defdcf40ab9d09bc418fe8133ac
torchaudio==2.11.0+cpu
torchtext==0.6.0
torchvision==0.27.0+cpu
tqdm==4.67.3
traitlets==5.14.3
tree-sitter==0.25.2
tree-sitter-c-sharp==0.23.1
tree-sitter-embedded-template==0.25.0
tree-sitter-language-pack==0.13.0
tree-sitter-yaml==0.7.2
typer==0.23.0
typer-slim==0.23.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
ujson==5.11.0
urllib3==2.6.3
uuid_utils==0.14.0
uvicorn==0.52.1
validators==0.35.0
visualdl==2.5.3
wandb==0.12.21
wasabi==0.10.1
watchfiles==1.1.1
wcwidth==0.6.0
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.5
wrapt==1.17.2
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zope.event==6.2
zope.interface==8.5
zstandard==0.25.0
